.gallery-images {
    @include flex-row();
    width: 100%;
    border: 1px solid rgb(216, 216, 216);
    border-radius: 10px;
    padding: 10px;
    margin-top: 60px;
    @media only screen and (min-width: 0) and (max-width: 480px) {
        @include flex-column();
        justify-content: flex-start;
    }
    &__empty {
        display: inline-block;
        font-size: 20px;
        font-weight: 300;
        color: gray;
        text-align: center;
    }
    &__img-cont {
        position: relative;
        width: 320px;
        height: 320px;
        background-color: #d1d1d1;
        overflow: hidden;
        border-radius: 10px;
        @media only screen and (min-width: 0) and (max-width: 480px) {
            margin-bottom: 20px;
        }
    }
}
